@import "tailwindcss";

@font-face {
  font-family: 'Aqum2Classic';
  src: url('./assets/Aqum2Classic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-light-bg: #947753;
  --color-dark-bg: #7c6342;
  --color-light-standout: #d6b584;
  --color-dark-standout: #c89851;
  --color-card-outer-border: #2e2212;
  --color-card-inner-border: #59371b;
  --color-card-outer-bg: #a8723b;
  --color-card-bookends-bg: #ba8a47;
  --color-card-image-bg: #d6bc90;
}

body {
  margin: 0;
  font-family:
    "Aqum2Classic", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
